$success-color: rgba(82, 196, 26, 1);
$heading-color: rgba(0, 0, 0, 0.85);
$background: rgba(235, 238, 243, 1);
$info-color: rgba(24, 144, 255, 1);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$heading-color: rgba(0, 0, 0, 0.85);
$highlight-color: rgba(245, 34, 45, 1);
$input-color: rgba(217, 217, 217, 1);
